<h1>Create an account</h1>

<form method="post" action="/users">
    <p>
      <label for="username">Username:</label>
      <input id="username" name="email" autofocus="autofocus" />
    </p>
    <p>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" />
    </p>
    <p>
      <button>Create new Account</button>
    </p>

</form>
